# The github repo owner username.
OWNER =

# Github access token (I guess Actions and workflow access at least required.)
TOKEN =

# These 2 are optional if your repo name and workflow file name matches the originals.
REPO =
WORKFLOW =
